.btnSeeMore {
  width: 12.63025rem;
  height: 3.67006rem;
 
  background-color: #124c5f;
  border-radius: 5px;
  text-align: center;
  align-self: center;
  padding-top: 10px;
  margin-left: 50em;
  border: 0;

  text-align: center;
  align-items: center;
  padding: 0em;
  color: white;
  cursor: pointer;
  margin-top: 9em;
  margin-left: 3.2em;
  font-size: medium;
  animation: 0.5s;
  transition: 0.5s;

}

.btnSeeMore:hover {
  background-color: #082630;
  animation: 0.7s;
}
