.textOne p {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 434px;
  height: 31px;
  font-size: 28px;
  font-weight: 400;

  color: #000;
}

.textTwo p {
  font-size: 40px;
  font-weight: 700;
  

  color: #000;

  white-space: nowrap;
  padding:  1.2em;

}

.baseRation {
}

.ration {
  display: flex;
  justify-content: center;
  margin-left: 32em;
  gap: 2em;
  padding: 1.5em;
  width: 300px;
  height: 350px;
}

.ration p{
  display: flex;
  margin-top: auto;
}