.navBar {
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.title {
  color: #193a6a;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 700;
  margin-top: 1.6em;
  padding: 0 1em;
}

.logo {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}

.links {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  gap: 3em;
  margin-top: 2.4em;
  padding: 0 1em;
}

.links a {
  text-decoration: none;
  color: #193A6A;
}

.petsImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10em;
}

.socialLinks{
  display: flex;
  gap: 0.5em;
  margin-left: 300px;
  color: #193A6A;
  width: 12em;
}

